.form-control {
  padding: 16px 10px;
  font-size: 14px;
}

.login-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
}

.login-first {
  width: 50%;
  height: 100%;
  background: #003359;
}

.login-second {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.login-details {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px 40px 20px 40px;
  gap: 20px;
  width: 60%;
}

.login-first img {
  display: block;
  margin: auto;
}

.login-logo img {
  width: 50px;
  height: 50px;
  display: block;
  margin: auto;
}

.login-input {
  padding: 0;
  font-weight: 500;
  margin-bottom: 0;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

.submit-btn {
  padding: 16px 10px;
  height: 55px;
  background: #003359;
  color: #ffffff;
  width: 100%;
  border-radius: 5px;
  border: none;
}

.submit-btn:hover {
  background: #000;
}

.below-login h2 {
  text-align: center;
  font-size: 12px;
}

.below-login a {
  color: #003359;
  text-decoration: none;
}

.below-login a:hover {
  color: #000;
  text-decoration: none;
}

.login-title h4 {
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  color: #003359;
}
